<div id="content">

  <div class="shadow" id="cssmenu">
    <ul class="nav">
      <li class="ml-4">
        <a routerLink="/phase/setting"
        ><span>Setting</span></a
        >
      </li>
      <li>
        <a routerLink="/phase/results"
        ><span>Results</span></a
        >
      </li>
    </ul>
  </div>

  <!-- Begin Page Content -->
  <div class="container-fluid">

    <hr class="sidebar-divider my-0">


    <router-outlet></router-outlet>



  </div>
  <!-- /.container-fluid -->

</div>
