<div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
  <h3 class="h3 mb-0 font-italic text-gray-800">Phase modulation measurement</h3>

</div>

<!-- Content Row -->
<div class="row">

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-6 col-md- mb-4">
    <div class="card border-left-warning shadow h-100 py-2 ">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <app-upload-file (fileEvent)="fileChanged($event)"></app-upload-file>
        </div>

        <hr class="sidebar-divider">

        <div class="row no-gutters align-items-center">
          <label class="text p-0 m-0 mr-2">Choose modal type:</label>
          <!-- Basic dropdown -->
          <div class="dropdown m-0 p-0">
            <button class="btn btn-primary dropdown-toggle m-0" id="model-component-dropdown" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Exponent</button>

            <div class="dropdown-menu"  aria-labelledby="model-component-dropdown">
              <a class="dropdown-item">Exponent</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<!-- Content Row -->

<div class="row">

  <!-- Area Chart -->
  <div class="col-xl-6 col-lg-6">
    <div class="card border-left-primary shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex align-items-center flex-row">
        <h3 class="ml-2 mr-2 text"><small>Initial parameters</small></h3>
        <div class="row col-5 ml-auto align-items-end ml-auto mr-1">
          <h6 class="ml-2 mr-2 text ml-auto">Component number:</h6>
          <!-- Basic dropdown -->
          <input type="number" class="form-control ml-auto" placeholder="Enter component number"  (keypress)="changeComponentNumber(myInput.value)"  #myInput />
        </div>

      </div>
      <!-- Card Body -->
      <div class="card-body p-0">
        <div id="table" class="table-editable">
          <app-table [components$]="components$"></app-table>
        </div>
    </div>
  </div>

</div>



</div>

<div class="p-0 col-xl-2 col-lg-2" >
  <a class="btn-result mb-4 d-none d-block btn btn btn-primary shadow" (click)="modelWithInitialParameters()">
    <i class="fas fa-download fa-sm text-white-50"></i>Model with initial parameters</a>

  <a class="btn-result mb-4 d-none d-block btn btn btn-primary shadow" (click)="startAnalysis()">
    <i class="fas fa-download fa-sm text-white-50"></i>Start analysis</a>
</div>

